@import '../settings/colors.scss';
@import '../settings/fonts.scss';
@import '../settings/spaces.scss';
@import '../settings/box-shadows.scss';

.Board {
	background-color: $Color--primary;
}

.Board-headerContainer {
	padding: $Space--md;
	background-color: $Color--darkPrimary;
	box-shadow: $BoxShadow;
}

.Board-header {
	margin: 0;
	color: $Color--gray200;
	font-size: $FontSize--lg;
	font-weight: $FontWeight--light;
}

.Board-body {
	display: flex;
	overflow-x: scroll;
}
