// [Color Palette](https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=1565C0&secondary.color=D32F2F)

// Primary
$Color--primary: #1565c0;
$Color--lightPrimary: #5e92f3;
$Color--darkPrimary: #003c8f;

// Secondary
$Color--secondary: #d32f2f;
$Color--lightSecondary: #ff6659;
$Color--darkSecondary: #9a0007;

// Gray
$Color--gray50: #FAFAFA;
$Color--gray100: #F5F5F5;
$Color--gray200: #EEEEEE;
$Color--gray300: #E0E0E0;
$Color--gray400: #BDBDBD;
$Color--gray500: #9E9E9E;
$Color--gray600: #757575;
$Color--gray700: #616161;
$Color--gray800: #424242;
$Color--gray900: #212121;
