// Font Sizes
$FontSize--xs: 14px;
$FontSize--sm: 16px;
$FontSize--md: 18px;
$FontSize--lg: 22px;

// Font Weight
$FontWeight--light: 300;
$FontWeight--medium: 400;
$FontWeight--bold: 700;

// Font Family
$FontFamily: 'Roboto', sans-serif;
